body {
    margin: 0;
    display: flex;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

#game-container {
    width: 80%;
    height: 100vh;
}

#score-container {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
}